<section
	id="a-propos"
	class="flex w-full flex-col-reverse items-end justify-end bg-fantasy-50 pt-10 md:gap-6 lg:min-h-screen lg:flex-row lg:flex-nowrap lg:gap-20"
>
	<div
		class="flex h-full w-full flex-col items-end justify-center space-y-12 px-3 pb-16 lg:w-1/2 lg:py-14 lg:pl-14 xl:py-20 xl:pl-20 2xl:pl-40 2xl:pt-40"
	>
		<div class="flex w-full flex-col items-end space-y-4 xl:w-11/12 2xl:w-3/4">
			<p class="text-end font-medium uppercase">Je suis</p>
			<p class="text-end">
				Nicolas, Reconverti dans le web, Développeur web passionné, je possède de solides compétences en développement front-end et
				back-end. Certifié en animations 3D interactives (WebGL, Three.js) par Bruno Simon.
				<br /><br />
				J'ai poursuis cette lancée avec une spécialiasation en Intélligence Artificielle chez OpenClassrooms pour obtenir le titre de
				Concepteur Développeur Logiciel (Bac+3).
				<br /><br />
				Passionné par le développement front-end, je recherche d'un emploi pour mettre en pratique mes compétences en interface utilisateur,
				approfondir mes connaissances et contribuer à des projets innovants en IA.
			</p>
		</div>
		<div class="flex w-full flex-col items-start space-y-4 xl:w-11/12 2xl:w-3/4">
			<p class="font-medium uppercase">Ma formation</p>
			<p>
				Diplômé d’un titre "Développeur Full Stack" (Bac+2) délivré par la 3W Academy, bootcamp de 6 mois en 2024. <br />
				<br />
				Puis diplômé d'un titre "Concepteur Développeur Logiciel" (Bac+3), avec une spécialisation en intelligence artificielle avec
				OpenClassrooms en 2026.
			</p>
		</div>
	</div>
	<div class="flex h-full w-full flex-row-reverse flex-nowrap items-end justify-end lg:w-1/2 lg:flex-row lg:items-start">
		<img
			class="h-[65vh] w-3/4 max-w-md self-end object-cover object-top pb-20 lg:h-3/4 lg:pb-10"
			src="/images/my_image.jpg"
			alt="Portrait professionnel d'un développeur"
		/>
		<h2 class="a-propos_titre block h-fit w-fit rotate-180 font-primary uppercase text-firefly-900/55 lg:w-1/4 lg:rotate-0">
			À propos
		</h2>
	</div>
</section>

<style>
	#a-propos .a-propos_titre {
		writing-mode: vertical-lr;
		text-orientation: mixed;
		font-size: 14vw;
		line-height: normal;
		white-space: nowrap;
	}

	#a-propos img {
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}

	@media screen and (min-width: 1024px) {
		#a-propos .a-propos_titre {
			font-size: 10vw;
		}
	}
</style>

<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/src/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	let tl = gsap.timeline({
		scrollTrigger: {
			trigger: "#a-propos",
			start: "top 20%"
		}
	});

	tl.to("#a-propos img", { clipPath: "polygon(0 0, 100% 0, 100% 100%, 0% 100%)", duration: 1 });
</script>
